
@import url("file:///home/ryuuma/.cache/wal/colors-waybar.css");

* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 14px;
    font-weight: bold;
}

window#waybar {
    background-color: @background;
    color: @foreground;
}

/* --- Workspaces --- */
#workspaces button {
    padding: 0 6px;
    color: @color6; /* cyan */
    background: transparent;
    border-bottom: 3px solid @background;
}
#workspaces button.active {
    color: @color6;
    border-bottom: 3px solid @color5; /* magenta */
}
#workspaces button.empty {
    color: @color7; /* white */
}
#workspaces button.empty.active {
    color: @color6;
    border-bottom: 3px solid @color5;
}
#workspaces button.urgent {
    background-color: @color1; /* red */
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -3px @foreground;
}

/* --- Modules --- */
#clock,
#custom-sep,
#battery,
#custom-wallpaper,
#group-brightvol,
#cpu,
#memory,
#disk,
#network,
#tray {
    padding: 0 8px;
    color: @color7; 
}

/* --- Separator --- */
#custom-sep {
    color: @color7; 
}

/* --- Individual Modules --- */
#clock {
    color: @color6; 
    border-bottom: 4px solid @color6;
}

#battery {
    color: @color5; 
    border-bottom: 4px solid @color5;
}

#disk {
    color: @color3; 
    border-bottom: 4px solid @color3;
}

#memory {
    color: @color5; 
    border-bottom: 4px solid @color5;
}

#cpu {
    color: @color2; 
    border-bottom: 4px solid @color2;
}
#custom-wallpaper {
    color: @color3; 
    border-bottom: 4px solid @color3;
}

#backlight {
    color: @color3; 
    border-bottom: 4px solid @color3;
}
#wireplumber {
    color: @color3; 
    border-bottom: 4px solid @color3;
}

#network {
    color: @color4; 
    border-bottom: 4px solid @color4;
}

#network.disconnected {
    background-color: @color1; 
}

#tray {
    background-color: @color4; 
}


